@import 'src/styling/variables.scss';

.about-wrapper {
  max-width: $size-max-width;
  padding: $space-2xl $size-gutter;
  display: block;
  margin: 0 auto;
  position: relative;

  /* section {
    position: relative;

    &:before {
      // TODO: remove
      position: absolute;
      content: '';
      height: calc(100% - 20px);
      width: 2px;
      background-color: $grey;
      left: -70px;
      bottom: 0;
      display: none;
    }

    &:after {
      position: absolute;
      content: 'TestTest';
      background-color: $white;
      color: $grey;
      left: -81px;
      top: 20px;
      padding-bottom: 20px;
      font-size: $text-lg;
      margin: 0;
      text-transform: uppercase;
      font-family: $font-rock-star;
      writing-mode: vertical-rl;
      text-orientation: upright;
      //display: block;
      display: none;
    }

    &.cruising:after {
      content: 'Cruising';
    }

    &.accommodation:after {
      content: 'Accommodation';
    }

    &.activities:after {
      content: 'Activities';
    }

    &.technical:after {
      content: 'Technical';
    }

    &.destinations {
      &:before {
        height: calc(100% - 160px);
        bottom: 139px;
      }

      &:after {
        content: 'Destinations';
      }
    }
  }*/
}

.cruising {
  display: flex;
  justify-content: space-between;

  > div:first-of-type {
    text-align: right;
    width: calc(100% - 553px);

    h2:after {
      left: auto;
      right: 0;
    }

    > div {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;

      img {
        width: calc(50% - 26.5px);
      }
    }
  }

  > div:last-of-type {
    width: 500px;
    -webkit-filter: brightness(1.15) contrast(0.9);
    filter: brightness(1.15) contrast(0.9);
  }
}

.activities {
  .text-image {
    max-width: 1000px;
    margin: 0 auto;
    display: block;

    .content {
      display: flex;
    }

    .text {
      max-width: calc(50% + 30px);
      margin: 0 0 0 80px;
      display: inline-block;

      strong {
        margin: 15px 0 5px 0;
        display: block;
      }

      ul {
        list-style: square;
        margin-left: 15px;

        li {
          padding-left: 5px;
        }
      }
    }

    .img {
      min-width: 370px;
      max-width: calc(50% - 90px);
      display: inline-block;
    }
  }

  .three-images {
    // TODO: remove
    //display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 40px auto 0;
    display: none;

    img {
      width: calc(33% - 30px);
    }
  }
}

.accommodation {
  > div:first-of-type {
    max-width: 850px;
    text-align: center;
    margin: 50px auto;
  }
}

.crew {
  height: 580px;
  background-position: center bottom;
  background-size: 100% auto;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-position: center bottom;
    background-size: 100% auto;
    background-image: url("https://ik.imagekit.io/bgmwrkfoi/Tork-Website-Background_5OsWWSK3K.png");
    -webkit-filter: brightness(1.6) saturate(1.2);
    filter: brightness(1.6) saturate(1.2);
  }

  .content {
    padding: 40px 60px 70px 60px;

    h2 {
      color: $white;
      margin-bottom: 60px;
      text-shadow: 0 0 4px #000000;

      &:after {
        background-color: $white;
      }
    }

    .members {
      display: flex;
      justify-content: space-between;
      max-width: 800px;
      margin: 0 auto;

      h4 {
        font-size: 19px;
        color: $dark;
      }

      > a {
        padding: 15px;
        width: calc(33% - 25px);
        background: $white;
        transform: scale(1);
        transition: 0.5s all ease;

        &:hover {
          transform: scale(1.03);
        }

        span {
          color: $grey;
        }
      }

      img {
        margin-bottom: 15px;
      }
    }
  }
}

.technical {
  display: flex;
  justify-content: space-between;

  button {
    display: block;
  }

  > div:first-of-type {
    width: 500px;
  }

  > div:last-of-type {
    width: calc(100% - 550px);
  }
}


