@import 'src/styling/variables.scss';

.crew-wrapper {
  max-width: $size-max-width-slim;
  padding: $space-2xl $size-gutter;
  display: block;
  margin: 0 auto;

  button {
    display: block;
  }

  section {
    margin: 120px auto;

    &:first-of-type {
      margin-top: 200px;
    }
  }
}

.intro {
  text-align: center;
  max-width: 710px;
  margin: 200px auto;

  img {
    width: 570px;
    margin: 0 auto 40px auto;
  }
}

.left {
  display: flex;
  max-width: 900px;

  > div:first-of-type {
    width: 350px;
  }

  > div:last-of-type {
    margin-top: 100px;
    width: calc(100% - 450px);
    margin-left: 50px;
    margin-right: auto;
  }
}

.right {
  display: flex;
  text-align: right;
  margin-left: auto;
  max-width: 900px;

  h2:after {
    left: auto;
    right: 0;
  }

  > div:last-of-type {
    width: 350px;
  }

  > div:first-of-type {
    width: calc(100% - 450px);
    margin: 100px 50px 0 auto;

    button {
      margin-left: auto;
    }
  }
}

.chef {
  margin-bottom: 50px !important;
}

.food {
  display: flex;
  max-width: 900px;
  margin: 0 auto 200px auto !important;

  > img {
    margin-right: 50px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
