@import 'src/styling/variables.scss';

.crew-wrapper {
  max-width: $size-max-width-slim;
  padding: $space-2xl $size-gutter;
  display: block;
  margin: 0 auto;

  button {
    display: block;
  }

  section {
    margin: 120px auto;

    &:first-of-type {
      margin-top: 200px;
    }
  }
}

.intro {
  text-align: center;
  max-width: 710px;
  margin: 200px auto;

  img {
    width: 570px;
    margin: 0 auto 40px auto;
  }
}

.left, .right {
  display: flex;
  max-width: 900px;

  > div:first-of-type {
    width: 350px;
  }

  > div:last-of-type {
    margin-top: 100px;
    width: calc(100% - 450px);
    margin-left: 50px;
    margin-right: auto;
  }
}

.right {
  text-align: right;

  > div:first-of-type {
    order: 2;
  }

  > div:last-of-type {
    order: 1;
  }

  h2:after {
    left: auto;
    right: 0;
  }
}

.chef {
  margin-bottom: 50px !important;
}

.food {
  display: flex;
  max-width: 900px;
  margin: 0 auto 200px auto !important;

  > img {
    margin-right: 50px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 1150px) {
  .crew-wrapper section {
    &:first-of-type {
      margin-top: 185px;
    }

    &:last-of-type {
      margin-bottom: 150px !important;
    }
  }

  //.crew-wrapper {
  //  max-width: 700px;
  //  margin: 120px auto 0 auto;
  //
  //  > section {
  //    margin: 0 0 50px 0;
  //  }
  //}

  .food {
    max-width: 630px;

    img {
      max-width: calc(50% - 25px);

      &:first-of-type {
        display: none;
      }
    }
  }
}


@media only screen and (max-width: 800px) {
  .crew-wrapper section {
    &:first-of-type {
      margin-top: 200px;
    }

    &:last-of-type {
      margin-bottom: 120px !important;
    }
  }

  .left, .right {
    display: block;

    > div:first-of-type {
      width: 100%;
      max-width: 250px;
      margin: 0 auto;
    }

    > div:last-of-type {
      width: 100%;
      max-width: 400px;
      margin: 50px auto 0 auto;
    }
  }

  h2 {
    margin-bottom: 25px;
  }

  .right {
    text-align: left;

    h2:after {
      left: 0;
      right: unset;
    }
  }


  .food {
    max-width: 500px;
  }
}
