@import 'src/styling/variables.scss';

.text-image {
  max-width: 1000px;
  margin: -40px auto 0 auto;
  display: block;

  .content {
    display: flex;
  }

  .text {
    max-width: calc(50% + 30px);
    margin: 90px 0 0 80px;
    display: inline-block;
  }

  .img {
    min-width: 370px;
    max-width: calc(50% - 90px);
    display: inline-block;
  }
}

.text-image-second {
  max-width: 1100px;
  margin: -50px auto 0 auto;
  display: block;

  .content {
    display: flex;
  }

  .text {
    margin: 160px 100px 0 25px;
    max-width: calc(50% - 100px);
    display: inline-block;
    text-align: center;
    position: relative;

    &:after {
      position: absolute;
      width: 50%;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      margin-top: 20px;
      content: '';
      border-bottom: 2px solid $dark;
    }
  }

  .img {
    max-width: 50%;
    display: inline-block;
  }
}


.text-image-third {
  max-width: 1000px;
  margin: 0 auto;
  display: block;

  .content {
    display: flex;
  }

  button {
    display: block;
  }

  .text {
    margin: 100px 0 0 80px;
    display: inline-block;
  }

  .img {
    min-width: 380px;
    max-width: calc(50% - 80px);
    display: inline-block;

    img:first-of-type {
      margin-bottom: 30px;
    }
  }
}


.accommodation {
  > div:first-of-type {
    max-width: 850px;
    text-align: center;
    margin: 50px auto;

    span:first-of-type {
      display: block;
      margin-bottom: 10px;
    }
  }
}

.destinations {
  > div:first-of-type {
    max-width: 850px;
    text-align: center;
    margin: 50px auto;
  }

  h3 {
    margin-bottom: 0;
  }

  span {
    display: block;
  }

  .destination-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

    > div {
      width: calc(50% - 25px);
      display: block;

      &:first-of-type {
        text-align: right;
      }

      > div {
        margin-bottom: 30px;
      }
    }
  }

  a:hover h2 {
    color: $dark;
  }
}

@media only screen and (max-width: 1150px) {
  .text-image, .text-image-second, .text-image-third {
    .content {
      display: block;

      .img {
        display: block;
        margin: 0 auto;
      }

      .text {
        max-width: 700px;
        display: block;
        margin: 50px auto;
      }
    }
  }

  .text-image-second {
    .content {
      margin-top: 200px;

      .img {
        max-width: 550px;
      }

      .text {
        max-width: 500px;
        margin-bottom: 80px;
      }
    }
  }

  .destinations {
    margin-bottom: 150px;
  }
}

@media only screen and (max-width: 800px) {
  .destinations {
    margin-bottom: 130px;

    .destination-options {
      display: block;
      margin-bottom: 90px;

      > div {
        width: 100%;
        text-align: center;

        &:first-of-type {
          text-align: center;
          margin-top: 70px;
          margin-bottom: 70px;
        }

        > div {
          margin-bottom: 30px;
        }

        img {
          max-width: 450px;
          margin: 0 auto;
        }
      }
    }
  }
}
