@import 'src/styling/variables.scss';

.contact-wrapper {
  max-width: $size-max-width;
  padding: $space-2xl $size-gutter;
  margin: 200px auto 0 auto;

  > div:first-of-type {
    width: calc(100% - 373px);
    margin-left: auto;
  }

  section {
    margin-top: 0;
    display: flex;
    justify-content: space-between;

    > div:first-of-type {
      width: 400px;
      position: relative;
      top: -78px;

      span {
        display: block;
        margin-bottom: 5px;
      }

      .barbara {
        width: 130px;
        margin-bottom: 20px;
        //border-radius: 50%;
      }

      .logo {
        -webkit-filter: invert(100%);
        filter: invert(100%);
        max-width: 220px;
        margin-top: 50px;
      }
    }

    > div:last-of-type {
      width: 100%;
      margin-left: 100px;
    }

    .date-range {
      margin: 50px 0 50px 0;

      > div:first-of-type {
        height: 35px;
      }


      > div:nth-of-type(2) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        > div {
          flex: 1;

          &:first-of-type {
            margin-right: 20px;
          }


          &:last-of-type {
            margin-left: 20px;
          }
        }
      }
    }

    .personal-info-description {
      display: block;
      margin-bottom: 30px;
    }
  }
}

.form {
  .contact-form {
    > div {
      display: flex;
      justify-content: space-between;

      > div {
        flex: 1;

        &:first-of-type {
          margin-right: 20px;
        }


        &:last-of-type {
          margin-left: 20px;
        }
      }
    }

    label, input, textarea, select {
      display: block;
      width: 100%;
    }

    input, textarea, select {
      margin-top: 5px;
      padding: 5px 7px;
      background-color: $white;
      border: 1px solid $grey;
      margin-bottom: 30px;

      &.disabled {
        background-color: lightgray;
      }
    }
  }

  .toggle {
    margin: 0 0 60px 0;

    > label {
      display: flex;
      max-height: 24px;

      > div {
        min-width: 44px;
      }
    }
  }

  button {
    border: 2px solid $dark;
    margin: 20px 0 40px 0;

    &:before, &:after {
      display: none;
    }

    &:hover {
      border-color: $primary;
    }
  }

  .submit-notice {
    display: block;
    margin: 50px 0 20px 0;
  }

  .success {
    padding: 20px 30px;
    border-radius: 3px;
    background-color: rgb(5, 138, 85);
    color: $white;
    margin-top: 40px;
    display: inline-block;
  }
}

@media only screen and (max-width: 1150px) {
  .contact-wrapper {
    max-width: 750px;
    margin: 120px auto 0 auto;

    > div:first-of-type {
      width: 100%;
      margin-left: auto;
    }

    section {
      display: block;
      justify-content: unset;
      margin: 0 0 100px 0;

      > div:first-of-type {
        width: 100%;
        position: relative;
        top: 0;
        display: flex;
        margin: 60px 0 50px;

        > div:nth-of-type(1) {
          margin-left: 20px;
          margin-top: 22px;
        }

        > div:nth-of-type(2) {
          margin-left: auto;
        }

        .logo {
          display: none;
        }
      }

      > div:last-of-type {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .contact-wrapper {
    margin: 200px auto 0 auto;

    section {
      margin: 0 0 100px 0;
    }
  }
}

@media only screen and (max-width: 650px) {
  .contact-wrapper {
    margin: 200px auto 0 auto;

    section {
      margin: 0 0 100px 0;
      display: block;
      justify-content: unset;

      > div:first-of-type {
        width: 100%;
        position: relative;
        top: 0;
        display: block;
        margin: 50px 0 70px 0;

        > div:nth-of-type(1) {
          margin-left: 0;
          margin-top: 0;
        }

        > div:nth-of-type(2) {
          margin-left: 0;
        }

        .logo {
          display: block;
          max-width: 150px;
        }
      }

      > div:last-of-type {
        width: 100%;
        margin-left: 0;
      }
    }
  }

  .form .toggle {
    margin: 0 0 60px 0;

    > label {
      margin: 20px 0;
      display: flex;
      max-height: 24px;

      > div {
        min-width: 44px;
      }
    }
  }
}
