@import 'src/styling/variables.scss';

.contact-wrapper {
  max-width: $size-max-width;
  padding: $space-2xl $size-gutter;
  margin: 0 auto;

  section {
    display: flex;
    justify-content: space-between;

    > div:first-of-type {
      span {
        display: block;
        margin-bottom: 5px;
      }

      .logo {
        -webkit-filter: invert(100%);
        filter: invert(100%);
        max-width: 220px;
        margin-top: 50px;
      }
    }

    > div:last-of-type {
      width: 600px;
      margin-left: 100px;
    }
  }
}

.form {
  .contact-form {
    > div {
      display: flex;
      justify-content: space-between;

      > div {
        flex: 1;

        &:first-of-type {
          margin-right: 20px;
        }


        &:last-of-type {
          margin-left: 20px;
        }
      }
    }

    label, input, textarea, select {
      display: block;
      width: 100%;
    }

    input, textarea, select {
      margin-top: 5px;
      padding: 5px;
      background-color: $white;
      border: 1px solid $grey;
      margin-bottom: 30px;

      &.disabled {
        background-color: lightgray;
      }
    }
  }

  button {
    border: 2px solid $dark;
    margin: 20px 0 40px 0;

    &:before, &:after {
      display: none;
    }
  }

  .success {
    padding: 20px 30px;
    border-radius: 3px;
    background-color: rgb(5, 138, 85);
    color: $white;
    margin-top: 40px;
    display: inline-block;
  }
}
