@import 'src/styling/variables.scss';

.technical-wrapper {
  max-width: $size-max-width;
  padding: $space-2xl $size-gutter;
  display: block;
  margin: 0 auto;
}

.technical {
  display: flex;
  margin-bottom: 50px;

  img {
    max-width: 500px;
    margin-right: 80px;
  }
}

.slideshow {
  margin: 130px 0;
}

.slideshow-small {
  margin-top: 0;
}

.data {
  width: 100%;

  h3 {
    margin-top: 40px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .item {
    display: flex;

    .subItem {
      width: 33.33%;
      margin-bottom: 50px;

      .value {
        font-size: $text-m;
        display: block;
      }

      .metric {
        font-size: $text-lg;
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .technical-wrapper {
    max-width: 700px;
    margin: 180px auto 0 auto;

    > section {
      display: block;
      justify-content: unset;
      margin: 0 0 50px 0;

      &:last-of-type {
        margin: 0 0 140px 0;
      }

      > img {
        margin: 0 auto 70px auto;
      }

      .data {
        margin-left: 20px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .technical-wrapper {
    margin: 200px auto 0 auto;

    section {
      margin: 0 0 60px 0;

      &:last-of-type {
        margin: 0 0 130px 0;
      }

      .data {
        margin-left: 0;

        .item .subItem {
          width: 33.33%;
          margin-bottom: 40px;

          .value {
            font-size: $text-sm;
            display: block;
          }

          .metric {
            font-size: $text-md;
          }
        }
      }
    }
  }
}
