@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'src/styling/variables.scss';
@import '../styling/lightbox-styles';

@font-face {
  font-family: 'AddingtonCF Regular';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  //font-named-instance: 'Regular';
  src: url('../../static/fonts/AddingtonCF-Regular.otf') format('opentype');
  src: url('../../static/fonts/AddingtonCF-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RockStar';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  //font-named-instance: 'Regular';
  src: url('../../static/fonts/RockStar-NarrowMedium.woff2') format('woff2');
}

@font-face {
  font-family: 'BrownBold';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  //font-named-instance: 'Regular';
  src: url('../../static/fonts/Brown Bold.woff') format('woff');
  src: url('../../static/fonts/Brown Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'BrownRegular';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  //font-named-instance: 'Regular';
  src: url('../../static/fonts/Brown Regular.woff') format('woff');
  src: url('../../static/fonts/Brown Regular.woff2') format('woff2');
}

//@layer base {
//  @font-face {
//    font-family: 'RockStar';
//    font-weight: 100 900;
//    font-display: swap;
//    font-style: normal;
//    //font-named-instance: 'Regular';
//    src: url('../../static/fonts/RockStar-NarrowMedium.woff2') format('woff2');
//  }
//  html {
//    font-family: $font-rock-star;
//  }
//}

html {
  scroll-behavior: smooth;
}

html * {
  box-sizing: border-box;
}

body {
  background: $background;
  color: $grey;
  font-family: $font-brown-regular;
  font-size: 16px;
  font-weight: $body;
  line-height: $default;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

section {
  margin: 200px 0;
}

//button {
//  color: $dark;
//  display: block;
//  padding: 10px 20px;
//  border: 2px solid $dark;
//  margin-top: 40px;
//  border-radius: 5px;
//  font-family: $font-brown-bold;
//  transition: all 0.5s ease;
//
//  &:hover {
//    color: $primary;
//    border: 2px solid $primary;
//  }
//}

button {
  box-sizing: border-box;
  position: relative;
  //padding: 1em 1.5em;
  padding: 15px 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin-top: 40px;
  color: $dark;

  &:after, &:before {
    content: '';
    display: block;
    position: absolute;
    width: 30%;
    height: 30%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
  }

  &:after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: $dark;
    border-right-color: $dark;
  }

  &:before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: $dark;
    border-left-color: $dark;
  }

  &:hover {
    color: $primary;
  }

  &:hover:after,
  &:hover:before {
    width: 100%;
    height: 100%;
  }


  &:hover:after {
    border-bottom-color: $primary;
    border-right-color: $primary;
  }

  &:hover:before {
    border-top-color: $primary;
    border-left-color: $primary;
  }

  &.action {
    display: block;
    margin: 50px auto;

    &:after, &:before {
      border: 4px solid;
    }

    &:after {
      border-top-color: transparent;
      border-left-color: transparent;
    }

    &:before {
      border-bottom-color: transparent;
      border-right-color: transparent;
    }

    &:hover {
      h2 {
        color: $primary;
      }
    }

    h2 {
      margin: 0;

      &:after {
        display: none;
      }
    }
  }
}

.button-group {
  width: 100%;
  display: flex;

  button {
    display: inline-block;
    margin-right: 60px;
  }
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark;
  text-transform: uppercase;
  //font-family: $font-brown-bold;
  font-family: $font-rock-star;
  font-weight: $semibold;
  line-height: $dense;
}

h1 {
  font-size: $text-3xl;
}

h2 {
  font-size: $text-3xl;
  margin-bottom: 30px;
}

h1, h2 {
  position: relative;
  transition: all 1s ease;

  &:after {
    content: "";
    width: 50px;
    background-color: $dark;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: all 1s ease;
  }

  &:hover:after {
    width: 90px;
  }

  &.center {
    text-align: center;

    &:after {
      width: 100px;
      left: calc(50% - 100px);
      transform: translateX(50%);
    }

    &:hover:after {
      width: 150px;
      left: calc(50% - 150px);
    }
  }
}

h3 {
  font-size: $text-2xl;
  margin-bottom: 20px;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

a:hover {
  color: $primary;

  h1, h2 {
    color: $primary;

    &:after {
      background-color: $primary;
    }
  }
}

a.active {
  font-weight: $bold;
}


strong {
  font-family: $font-brown-bold;
}

tt,
code,
kbd {
  background: $black-fade-5;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

tt,
code,
kbd {
  font-family: $font-monospace;
  font-size: 90%;
}

tt,
code {
  background-color: $black-fade-5;
  border-radius: $radius-sm;
  font-weight: $medium;
  padding: 0.2em 0;
}

code:before,
code:after,
tt:before,
tt:after {
  content: ' ';
  letter-spacing: -0.2em;
}

pre,
code {
  font-family: $font-monospace;
}

.wrapper {
  max-width: $size-max-width;
  margin: 0 auto;
  padding: $space-2xl $size-gutter;
}

.nav-scrolled {
  border-bottom: 3px solid $dark !important;
}

.slide.smaller img {
  padding: 0 10px;
}
