@use 'styles/variables' as *;

.big-slider {
  .slider-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .arrows {
      display: flex;

      img {
        width: 25px;
        display: inline-block;
      }

      button {
        all: unset;
        cursor: pointer;
        position: relative;
        top: -5px;
        padding: 5px 10px;
        margin: 0 5px;
        transition: padding 0.5s ease;

        &:hover {
          padding: 5px 20px 5px 0;
        }

        &:last-of-type {
          position: relative;
          top: -2px;
          display: inline-block;
          transform: rotate(180deg);
        }
      }
    }
  }

  .viewport {
    overflow: hidden;
  }

  .container {
    display: flex;
  }
}

:global(.slide) {
  flex: 0 0 calc(100% / var(--slides-to-show, 1));
  min-width: 0;
}

@media only screen and (max-width: 1150px) {
  .big-slider .slider-nav {
    margin-bottom: 20px;

    .arrows button:last-of-type {
      height: 39px;
    }
  }

  .container[data-tier='multiple'] {
    --slides-to-show: 2 !important;
  }
}

@media only screen and (max-width: 800px) {
  .container[data-tier='double'],
  .container[data-tier='multiple'] {
    --slides-to-show: 1 !important;
  }
}
