@import 'src/styling/variables.scss';

.big-slider {
  .slider-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .arrows {
      img {
        width: 25px;
        display: inline-block;
      }

      span {
        position: relative;
        top: -5px;
        cursor: pointer;
        padding: 5px 10px;
        margin: 0 5px;
        transition: padding 0.5s ease;

        &:hover {
          padding: 5px 20px 5px 0;
        }

        &:last-of-type {
          position: relative;
          top: -2px;
          display: inline-block;
          transform: rotate(180deg);
        }
      }
    }
  }

  .slide {
    &.smaller {
      margin-right: 20px;
      max-width: 100px;
    }
  }
}

@media only screen and (max-width: 1150px) {
  .big-slider .slider-nav {
    margin-bottom: 20px;

    .arrows:last-of-type {
      height: 39px;
    }
  }
}


@media only screen and (max-width: 800px) {
}

