@import 'src/styling/variables.scss';

.hero-small {
  // TODO: remove
  display: none;
  max-width: $size-max-width-pd;
  padding: $layout-padding;
  margin: 130px auto 0 auto;
  border-bottom: 3px solid $dark;

  h1 {
    text-align: center;
    font-size: 42px;

    &:after {
      display: none;
    }
  }
}
