@import 'src/styling/variables.scss';

.container {
  color: $dark;
  border-top: 2px solid $border;
  font-size: $text-sm;
  max-width: $size-max-width-pd;
  margin: 0 auto;
  padding: $space-2xl $size-gutter 0 $size-gutter;
  display: block;

  a {
    font-family: $font-brown-regular;
  }

  a:hover {
    color: $primary;
  }

  span {
    display: block;
    height: 30px;
  }
}

.flexbox {
  display: flex;
  justify-content: space-between;

  > div {
    width: calc(33% - 15px);
    position: relative;

    &:nth-of-type(2) a:hover {
      color: $dark;
    }

    &:nth-of-type(3) {
      text-align: right;
    }
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 270px;
    min-height: 270px;
    max-width: 270px;
    max-height: 270px;
    margin: 30px 0;
  }
}

.copyright {
  width: 100%;
  margin-top: 80px;
  display: block;
  text-align: center;
}

@media only screen and (max-width: 1150px) {
  //.container {
  //  //padding: 20px;
  //  padding: $space-2xl $size-gutter 0 $size-gutter;
  //}
}

@media only screen and (max-width: 700px) {
  .container {
    padding: 0 20px;
  }

  .flexbox {
    display: flex;
    justify-content: space-between;

    > div {
      width: calc(50% - 15px);
      position: relative;
    }

    .logo-wrapper {
      display: none;
    }
  }

  .copyright {
    width: 100%;
    margin-top: 20px;
    display: block;
    text-align: center;
  }
}
