@import 'src/styling/variables.scss';

.container {
  color: $dark;
  border-top: 1px solid $border;
  font-size: $text-sm;
  height: 300px;
  //background-image: url('https://ik.imagekit.io/bgmwrkfoi/pexels-magda-ehlers-636353_Kptr7ooNp.jpg');
  background-position: center bottom;
  background-size: 100% auto;
  max-width: $size-max-width-pd;
  margin: 0 auto;
  padding: $space-2xl $size-gutter;
  display: block;

  a {
    border-bottom: 1.5px solid transparent;
    font-weight: $medium;
  }

  a:hover {
    border-bottom-color: $white;
    color: $white;
    font-family: $font-brown-bold;
  }

  span {
    display: block;
    height: 30px;
  }
}

.flexbox {
  display: flex;
  justify-content: space-between;

  > div {
    height: 200px;
    width: calc(33% - 15px);
    position: relative;

    &:nth-of-type(3) {
      text-align: right;
    }
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    //fill: #AB7C94;
    //background-color: $dark;
    //-webkit-filter: brightness(0) invert(1);
    //filter: brightness(0) invert(1);

    //&:after {
    //  position: absolute; /* Positions psuedo element relative to .icon */
    //  width: 100%; /* Same dimensions as .icon */
    //  height: 100%;
    //  content: ""; /* Allows psuedo element to show */
    //  background: #EC008C; /* The color you want the icon to change to */
    //  mix-blend-mode: multiply; /* Only apply color on top of white, use screen if icon is black */
    //}
  }

  .copyright {
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
  }
}
