@import'src/styling/variables.scss';

.container {
  color: $white;
  border-top: 1px solid $border;
  font-size: $text-sm;
  min-height: 300px;
  background-image: url('https://ik.imagekit.io/bgmwrkfoi/pexels-magda-ehlers-636353_Kptr7ooNp.jpg');
  background-position: center bottom;
  background-size: 100% auto;
  max-width: $size-max-width-pd;
  margin: 0 auto;
  padding: $space-2xl $size-gutter;
}

.container a {
  border-bottom: 1.5px solid transparent;
  font-weight: $medium;
}

.container a:hover {
  border-bottom-color: $primary;
  color: $primary;
}
